/* Dashboard Layout */
.dashboard-layout {
    display: grid;
    grid-template-areas:
        "header header"
        "nav main"
        "footer footer";
    grid-template-columns: 240px 1fr;
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;
    background-color: #f5f5f5;
}

.dashboard-header {
    grid-area: header;
    background-color: #ffffff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 10;
}

.dashboard-nav {
    grid-area: nav;
    color: white;
    min-height: calc(100vh - 60px);
    position: sticky;
    top: 0;
    width: 100px;
    height: 100vh;
    overflow-y: auto;
}

.dashboard-main {
    grid-area: main;
    padding: 20px;
    background-color: #f5f5f5;
    min-height: calc(100vh - 120px);
}

.dashboard-footer {
    grid-area: footer;
    background-color: var(--negro);
    color: var(--blanco);
    padding: 15px;
    text-align: center;
}

@media (max-width: 768px) {
  .dashboard-layout {
    grid-template-areas:
      "header"
      "nav main"
      "footer";
      grid-template-columns:  1fr;
  }

  .dashboard-nav {
    display: block;      
    position: static;     
    height: auto;         
    min-height: auto;     
    width: 100%;
    overflow: visible;    
  }


  .dashboard-main {
    padding: 60px;
  }
}
