@import "tailwindcss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
   --primary-color: #227128;
  --secondary-color: #1aac0d;
  --accent-color: #0e2f46;
  --transition-speed: 0.3s;
  --success-color: #28a745;
  --warning-color: #ffc107;
  --info-color: #17a2b8;
  --gray-color: #6c757d;
  --accent-color: #e74c3c;
  --negro:#232323;
  --blanco:#ffffff;
}



.wrapper {
  min-height: 100dvi;
  display: flex;
  flex-direction: column;
  flex: 1;
}

