@import "tailwindcss";


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #39B54A;
  --secondary-color: #005FAA;
  --dark-color: #212529;
  --light-color: #f8f9fa;
  --transition-speed: 0.3s;
  --success-color: #28a745;
  --warning-color: #ffc107;
  --info-color: #17a2b8;
  --gray-color: #6c757d;
  --accent-color: #e74c3c;
}


.wrapper {
  min-height: 100dvi;
  display: flex;
  flex-direction: column;
  flex: 1;
}